<div class="bootstrap-wrapper">
  <div class="container">
    <div class="row" style="margin-top: 40px">
      <div class="col-xl-12">
        <mat-card>
          <div class="container text-center" style="margin-top: 40px">
            <img
              src="https://freepngimg.com/thumb/web_design/24790-3-sign-up-button.png"
              class="image-responsive"
              width="300"
              height="100"
            />
          </div>
          <form method="post">
            <mat-form-field class="full-width" appearance="outline">
              <mat-label>Username</mat-label>
              <input
                required
                matInput
                placeholder="Enter Username"
                name="userName"
                type="text"
              />
              <mat-hint>Valid username is required</mat-hint>
            </mat-form-field>

            <!--Password-->
            <mat-form-field class="full-width" appearance="outline">
              <mat-label>Password</mat-label>
              <input
                matInput
                placeholder="Password"
                name="password"
                type="password"
              />
            </mat-form-field>
            <div class="container">
              <button type="submit" mat-raised-button color="primary">
                Login
              </button>
              <button
                mat-raised-button
                color="accent"
                style="margin-left: 10px"
              >
                Clear
              </button>
            </div>

            <!--Username-->
          </form>
        </mat-card>
      </div>
    </div>
  </div>
</div>
